.clear-outline {
  &:focus,
  &:active {
    outline: none;
  }
}
.gradient {
  background-image: linear-gradient(to bottom right, #0a3f41, #14858a );
}
.input-text {
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #14858a;
    padding: 0px 30px 10px 0px;
    width: 100%;
    color: white;
    @extend .clear-outline;
  }
}
.btn {
  width: 100%;
  padding: 8px 15px;
  @extend .gradient;
  border: none;
  border-radius: 30px;
  color: #e8feff;
  @extend .clear-outline;
}
.form {
  .row {
    width: 80%;
    margin: 0 auto;
    @extend .input-text;
    .icon {
      color: #e8feff;
      position: relative;
      top: 25px;
    }
    .btn-login {
      margin-top: 50px;
      @extend .btn;
    }
  }
}
